* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("..//fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "SourceSansPro-Light";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}


/*.wrap{
width: 1920px;
margin: auto;
background-color: yellow;
}*/

.header {
    height: 912px;
    background-color: #2c2e3d;
}

.header-navbar {
    padding-top: 20px;
    width: 1170px;
    height: 50px;
    margin: auto;
    background-color: #2c2e3d;
}

.myNavbar-logo {
    background-image: url("../image/Logo_TheGem.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 166px;
    float: left;
    margin-right: 100px;
}

.myNavbar-menu,
.myNavbar-item {
    display: inline-block;
}

.myNavbar-menu ul {
    list-style: none;
}

li {
    display: inline-block;
}

.myNavbar-menu ul li a {
    font-family: Montserrat-Bold;
    color: #99a9b5;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px;
}

.myNavbar-menu ul li a:focus {
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
}

.myNavbar-menu ul li a:hover {
    color: #08a6bc;
}

.myNavbar-item{
    margin-left: 50px;
}

.item {
    color: #98a8b4;
    margin-right: 10px;
}

.header-slider {
    height: 700px;
    background-color: #2c2e3d;
    padding-top: 150px;
    text-align: center;
}

.slider-menu>img {
    height: 89px;
    width: 111px;
    margin: auto;
}

.slider-caption {
    font-family: Montserrat-Light;
    padding-top: 105px;
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}

.caption {
    font-family: Montserrat-Bold;
}

.slider-content {
    margin-top: 65px;
    font-size: 16px;
    font-family: "SourceSansPro-Light";
    color: #fff;
    line-height: 1.542;
}

.slider-button {
    color: #fff;
    margin-top: 85px;
    display: inline-flex;
}

.button-purchase {
    font-family: Montserrat-Bold;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.button-details {
    font-family: Montserrat-Bold;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.rounded:hover {
    color: #4ec3c9;
    border: 2px solid #4ec3c9;
}


/*End slider*/

.container {
    width: 1170px;
    margin: auto;
    background-color: #fff;
}


/*Star title*/

.titledark {
    text-align: center;
    margin: auto;
}

.title-caption {
    font-family: Montserrat-Light;
    font-size: 50px;
    color: #3c3950;
    padding-top: 140px;
}

.title-sub {
    font-family: SourceSansPro-Light;
    font-size: 16px;
    text-align: left;
    color: #3c3950;
    margin-top: 75px;
}


/*End title*/


/*Star Pricing Table 1*/

.table1 {
    margin: 160px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-1 {
    width: 291px;
    height: 670px;
    background: #f0f3f2;
    border: 0.5px solid #dfe5e8;
    position: relative;
}

.new-icon {
    position: absolute;
    left: 37px;
    top: -25px;
}

.table-title {
    font-family: Montserrat-Light;
    font-size: 24px;
    width: 292px;
    text-align: center;
    height: 92px;
    color: #5f727f;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.price {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b0de79;
    font-family: Montserrat-Light;
    color: #fff;
}

.font65 {
    font-family: Montserrat-Light;
    font-size: 65px;
}

.font16 {
    font-family: "SourceSansPro-Light";
    font-size: 16px;
}

.cbg {
    background-color: #b0de79;
}

.avbg {
    background-color: #7ee0bf;
}

.mtbg {
    background-color: #83bce9;
}

.isbg {
    background-color: #a289e8;
}

.subtitle {
    height: 79px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub {
    font-family: SourceSansPro-Light;
    font-size: 24px;
}

.senten {
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    color: #a9b6c0;
}

.content-sub p {
    line-height: 46px;
    border-top: 0.5px solid #dfe5e8;
    text-align: center;
    color: #5f727f;
}

.font-c {
    color: #5f727f;
}

.font-del {
    text-decoration: line-through;
    color: #cad2d7;
}

.button {
    width: 120px;
    line-height: 40px;
    background-color: #393d50;
    border-radius: 20px;
    text-align: center;
    margin: 35px auto 0;
}

.button-tyle1 {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat-Bold;
    font-size: 16px;
}

.button:hover {
    background-color: #83bce9;
}

.fas {
    padding-right: 5px;
}

.block-1:hover {
    margin-top: -22px;
    padding-bottom: 44px;
    background-color: #FFF;
}

.block-1:hover .table-title {
    height: 116px;
}

.block-1:hover .button {
    background-color: #83bce9;
}


/*End Pricing Table 1*/

.nen-vb {
    background-color: #212331;
    height: 400px;
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 30px;
    color: #fff;
}